<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.example.FinancePageTest"/>
      <class name="com.example.CompaniesPageTest"/>
      <class name="com.example.SitesPageTest"/>
      <class name="com.example.LoginPageTest"/>
      <class name="com.example.AuditLogPageTest"/>
      <class name="com.example.ClientUsersPageTest"/>
      <class name="com.example.HomePageTest"/>
      <class name="com.example.SitesMandatorypageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
